{% extends 'base.html' %}

{% block content %}
<div class="col">
    <a class="small" href="{% url 'login' %}"><i class="fa-solid fa-arrow-left"></i></a>

<div class="main">
<form method="post">
    <h1>Reset Password</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Submit</button>
</form>

<div class="img">
    <img src="../media/forgot_password.svg">
</div>
</div>
</div>





<style>
    .main{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    form{
        padding-top: 120px;
        padding-left: 100px;
        width: 60%;
    }

    .col{
        display: flex;
        flex-direction: row;
    }

    .img{
        width: 100%;
        margin-top: 0px;
    }


    
    .small{
        text-decoration: none;
        color: #000000;
        font-size: 25px;
        margin-left: 40px;
        margin-top: 20px;
      }

    .btn{
        background: linear-gradient(#9997FD, #9976C7);
        color: #000000;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 40px 10px 40px;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        margin: 20px;
        border-radius: 90px;
        border: 0px;
      }
</style>

{% endblock content %}