{% extends 'include/header2.html' %}
{% load static %}

{% block content %}

<div class="cont">
  <div class="users">
    <div class="text"> Chat </div>
    {% if user.is_authenticated %}
  <input type="hidden" id="logged-in-user" value="{{ user.id }}">
{% endif %}
    
                      {% for thread in Threads %}
                      <li class="{% if forloop.first %}active{% endif %} contact-li" chat-id="chat_{{ thread.id }}" style="cursor: pointer">
                        <div class="d-flex bd-highlight" style="width: 240px; padding: 5px;height: 80px; background: #fff; border-radius: 10px; 
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ; display: flex; flex-direction: row;">
                            <div class="img_cont">
                                      <img src="{{thread.second_person.profile.profile_image.url}}" class="rounded-circle user_img">
                                      <span class="online_icon"></span>
                                  </div>
                                  <div class="user_info">
                                      {% if thread.first_person == user %}
                                          <span>{{ thread.second_person.username }}</span>
                                      {% else %}
                                          <span>{{ thread.first_person.username }}</span>
                                      {% endif %}

                                  </div>
                              </div>
                          </li>
                      {% endfor %}

  </div>
 
  
  <div class="chatting">
    <div class="card">
                  {% for thread in Threads %}
                      <div class="messages-wrapper  {% if forloop.first %}hide is_active{% else %}hide{% endif %}" chat-id="chat_{{ thread.id }}" other-user-id="
                                  {% if thread.first_person == user %}
                                      {{ thread.second_person.id }}
                                  {% else %}
                                      {{ thread.first_person.id }}
                                  {% endif %}
                              ">
                          <div class="card-header msg_head">
                              <!-- <div class="d-flex bd-highlight"> -->
                                  <div class="img_cont">
                                      <img src="{{thread.second_person.profile.profile_image.url}}" class="rounded-circle user_img">
                                      <span class="online_icon"></span>
                                  </div>
                                  <div class="user_info">
                                      {% if thread.first_person == user %}
                                              <span>Chat with {{ thread.second_person.username }}</span>
                                      {% else %}
                                          <span>Chat with {{ thread.first_person.username }}</span>
                                      {% endif %}

                                      <p>{{ thread.chatmessage_thread.all.count }} messages</p>
                                  </div>
                              <!-- </div> -->
                              
                          </div>

                          <div class="card-body msg_card_body">
                              {% for chat in thread.chatmessage_thread.all %}
                                  {% if chat.user == user %}
                                      <div class="d-flex mb-4 replied">
                                          <div class="msg_cotainer_send">
                                              {{ chat.message }}
                                              <span class="msg_time_send">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                          </div>
                                      <div class="img_contt_msg">
                                          <img src="{{user.profile.profile_image.url}}" class="rounded-circle user_img_msg">

                                      </div>
                                  </div>
                                  {% else %}
                                      <div class="d-flex mb-4 received">
                                      <div class="img_cont_msg">
                                          <img src="{{thread.second_person.profile.profile_image.url}}" class="rounded-circle user_img_msg">
                                      </div>
                                      <div class="msg_cotainer">
                                          {{ chat.message }}
                                          <span class="msg_time">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                      </div>
                                  </div>
                                  {% endif %}
                              {% endfor %}


                          </div>

            </div>
                  {% endfor %}
                  <div class="typing">
                          <form id="send-message-form">
                              <div class="input-group">
                                  <input type="text" name="" id="input-message" class="form-control type_msg" placeholder="Message...">
                                  <!-- <div class="input-group-append"> -->
                                      <button class="btn btn-secondary" type="submit">
                                        <i class="fa-solid fa-paper-plane"></i>
                                          <!-- <span class="input-group-text send_btn"> -->
                                              <!-- <i class="fas fa-location-arrow"></i> -->
                                          <!-- </span> -->
                                      </button>

                                  <!-- </div> -->
                          </div>
                          </form>
                      </div>
  </div>
</div>
</div>

</div>

<script>
let input_message = $('#input-message')
let message_body = $('.msg_card_body')
let send_message_form = $('#send-message-form')
const USER_ID = $('#logged-in-user').val()

let loc = window.location
let wsStart = 'ws://'

if(loc.protocol === 'https') {
wsStart = 'wss://'
}
let endpoint = wsStart + loc.host + loc.pathname

var socket = new WebSocket(endpoint)

socket.onopen = async function(e){
console.log('open', e)
send_message_form.on('submit', function (e){
  e.preventDefault()
  let message = input_message.val()
  let send_to = get_active_other_user_id()
  let thread_id = get_active_thread_id()

  let data = {
      'message': message,
      'sent_by': USER_ID,
      'send_to': send_to,
      'thread_id': thread_id
  }
  data = JSON.stringify(data)
  socket.send(data)
  $(this)[0].reset()
})
}

socket.onmessage = async function(e){
console.log('message', e)
let data = JSON.parse(e.data)
let message = data['message']
let sent_by_id = data['sent_by']
let thread_id = data['thread_id']
newMessage(message, sent_by_id, thread_id)
}

socket.onerror = async function(e){
console.log('error', e)
}

socket.onclose = async function(e){
console.log('close', e)
}


function newMessage(message, sent_by_id, thread_id) {
if ($.trim(message) === '') {
return false;
}
let message_element;
let chat_id = 'chat_' + thread_id
if(sent_by_id == USER_ID){
message_element = `
<div class="d-flex mb-4 replied">
  <div class="msg_cotainer_send">
    ${message}
  </div>
  <div class="img_contt_msg">
     <img src="{{user.profile.profile_image.url}}" class="rounded-circle user_img_msg">

  </div>
</div>
`
}
else{
message_element = `
     <div class="d-flex mb-4 received">
        <div class="img_cont_msg">
          <img src="{{user.profile.profile_image.url}}" class="rounded-circle user_img_msg">

        </div>
  `}

let message_body = $('.messages-wrapper[chat-id="' + chat_id + '"] .msg_card_body')
message_body.append($(message_element))
message_body.animate({
  scrollTop: $(document).height()
}, 100);
input_message.val(null);
}


$('.contact-li').on('click', function (){
$('.contacts .actiive').removeClass('active')
$(this).addClass('active')

// message wrappers
let chat_id = $(this).attr('chat-id')
$('.messages-wrapper.is_active').removeClass('is_active')
$('.messages-wrapper[chat-id="' + chat_id +'"]').addClass('is_active')

})

function get_active_other_user_id(){
let other_user_id = $('.messages-wrapper.is_active').attr('other-user-id')
other_user_id = $.trim(other_user_id)
return other_user_id
}

function get_active_thread_id(){
let chat_id = $('.messages-wrapper.is_active').attr('chat-id')
let thread_id = chat_id.replace('chat_', '')
return thread_id
}
</script>



<!-- <script src="{% static 'js/messages.js' %}"></script> -->

<style>
  *{
    margin: 0;
    padding: 0;
  }
  .cont{
    display: flex;
    flex-direction: row;
    height: 540px;
    width: 100%;
    border-radius: 10px;
  }


  .users{
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  
.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #000;
}
.user_img_msg {
  height: 30px;
  width: 30px;
  border: 1.5px solid #000;
}
.img_cont {
  position: relative;
  height: 70px;
  width: 70px;

}
.img_cont_msg {
  height: 40px;
  width: 40px;


}
.img_contt_msg {
  height: 40px;
  width: 40px;
  float: right;

}

  .chatting{
    width: 70%;
    background: #fff;
    /* border: 1px solid rgba(250, 123, 32, 0.619);  */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    margin: 5px;
    border-radius: 10px;
  }

  .user_card{
    height: 80px;
  }

  .typing{
    bottom: 78px;
    height: 50px;
    border-radius: 0 0 10px 10px !important;
    border-bottom: 0 !important;
    width: 615px;
    padding: 8px;
    background: linear-gradient(#9997FD, #9976C7);
    position: absolute;
    display: flex !important;
    flex-direction: row !important;
  } 

  .users li {
  width: 100% !important;
  padding: 5px 10px;
}

.chat {
  margin-top: auto;
  margin-bottom: auto;
}
.card {
  height: 100%;
  /* height: 80px; */
  border-radius: 10px !important;
  /* position: absolute; */
  /* background-color: rgba(250, 123, 32, 0.619) !important; */

}
.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: scroll;
  white-space: nowrap;
}
.msg_card_body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  max-height: 65%;
  padding: 10px;
}

.msg_cotainer_send {
  min-width: 70px;
  width: fit-content;
  float: right;
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 25px;
  background: linear-gradient(#1af801, #ffff25);
  padding: 10px;
  position: relative;
}
.card-header {
  border-radius: 10px 10px 0 0 !important;
  border-bottom: 0 !important;
  width: 610px;
  padding: 10px;
  background: linear-gradient(#9997FD, #9976C7);
  display: flex;
  flex-direction: row;
}
.card-footer {
  border-radius: 0 0 10px 10px !important;
  display: flex;
  flex-direction: row;
}


.type_msg {
  background-color: #E5E5E5 !important;
  border-radius: 15px 0px 0px 15px;
  border: 1px #E5E5E5;
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
  color: black !important;
  font-size: 15px;
  min-width: 550px !important;
  height: 45px !important;
}
.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.btn {
  border-radius: 0 15px 15px 0 !important;
  color: #000 !important;
  border: none !important;
  font-size: 23px;
  cursor: pointer;
  padding: 9px;
  float: right;
  /* padding-top: 16.5px; */
  background: rgb(255, 112, 9);
}

.text{
  font-size: 20px;
  font-weight: 900;
  margin: 8px;
  color: #000;
  padding-bottom: 5px;
}

/* .fa-solid.fa-comments{
      color: chocolate;
      font-size: 25px;
    } */

.users {
  list-style: none;
  padding: 0;
}
.users li {
  width: 100% !important;
  
  padding: 5px 10px;
}
.user_img {
  height: 70px;
  width: 70px;
  border: 2px solid #ffcd4e;
}
.user_img_msg {
  height: 30px;
  width: 30px;
  border: 1.5px solid #f5f6fa;
}
.img_contt {
  position: relative;
  height: 70px;
  width: 20%; 

}


.img_cont {
  position: relative;
  height: 70px;
  width: 70px; 
}


.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  
}
.user_info span {
  font-size: 20px;
  color: black;
}
.user_info p {
  font-size: 10px;
  padding-left: 10px;
}
.msg_cotainer {
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 25px;
  background: linear-gradient(#ffff25, #f8ae01);;
  padding: 10px;
  position: relative;
  width: fit-content;
  min-width: 70px;
  text-align: center;
}
.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  font-size: 10px;
}
.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  font-size: 10px;
}
.msg_head {
  position: relative;
}

.received {
  justify-content: flex-start;
}

.replied {
  justify-content: flex-end;
}

.is_active{
  display: block !important;
}


.msg_card_body::-webkit-scrollbar {
  display: none;
}

.msg_card_body {
  -ms-overflow-style: none;  
}

.messages-wrapper{
  height: 100%;
}

.hide{
  display: none;
}

</style>



{% endblock content %}

