<!--&lt;!&ndash;{% extends 'common/base.html' %}&ndash;&gt;-->

<!--&lt;!&ndash;{% block content %}&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="nick">@{{user.username}}</div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="user_card">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="photo">&ndash;&gt;-->
<!--&lt;!&ndash;        <img src="{{user.profile.profile_image.url}}" class="rounded float-right" height="120px" width="120px">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="name">&ndash;&gt;-->
<!--&lt;!&ndash;        {{user.first_name}} {{user.last_name}}&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="intrst">&ndash;&gt;-->
<!--&lt;!&ndash;      <strong style="padding-bottom: 6px;">Interests: </strong>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="intbox">{{user.profile.interests}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-lg-2"></div>&ndash;&gt;-->

<!--&lt;!&ndash;      <p style="font-size: 18px; font-weight: bolder; text-align: center;">Profile Details</p>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="details">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;            <p><strong>Usernickname: </strong>{{user.profile.usernickname}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p><strong>Email: </strong> {{user.email}} </p>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; <p><strong>Bio: </strong> {{user.profile.bio}} </p> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <p><strong>Gender: </strong> {{user.profile.gender}} </p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p><strong>Phone Number: </strong> {{user.profile.phone_number}} </p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p><strong>DOB: </strong> {{user.profile.birth_date}} </p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->




<!--&lt;!&ndash;<style>&ndash;&gt;-->
<!--&lt;!&ndash;  * {&ndash;&gt;-->
<!--&lt;!&ndash;    box-sizing: border-box;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->

<!--&lt;!&ndash;  .container {&ndash;&gt;-->
<!--&lt;!&ndash;    font-size: 14px;&ndash;&gt;-->
<!--&lt;!&ndash;    font-family: Poppins;&ndash;&gt;-->
<!--&lt;!&ndash;    padding: 10px 20px 30px;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->

<!--&lt;!&ndash;  .bckgrnd {&ndash;&gt;-->
<!--&lt;!&ndash;    height: 1117px;&ndash;&gt;-->
<!--&lt;!&ndash;    background: linear-gradient(rgba(243,205,73,0.75), rgba(251,200,23,0.20999999344348907));&ndash;&gt;-->
<!--&lt;!&ndash;    opacity: 1;&ndash;&gt;-->
<!--&lt;!&ndash;    position: relative;&ndash;&gt;-->
<!--&lt;!&ndash;    top: 0px;&ndash;&gt;-->
<!--&lt;!&ndash;    left: 0px;&ndash;&gt;-->
<!--&lt;!&ndash;    overflow: hidden;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->

<!--&lt;!&ndash;  .user_card{&ndash;&gt;-->
<!--&lt;!&ndash;    display: flex;&ndash;&gt;-->
<!--&lt;!&ndash;    flex-direction: row;&ndash;&gt;-->
<!--&lt;!&ndash;    margin-top: 5px;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->

<!--&lt;!&ndash;  .name{&ndash;&gt;-->
<!--&lt;!&ndash;    padding: 40px;&ndash;&gt;-->
<!--&lt;!&ndash;    font-size: 26px;&ndash;&gt;-->
<!--&lt;!&ndash;    font-weight: bold;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->


<!--&lt;!&ndash;  .nick{&ndash;&gt;-->
<!--&lt;!&ndash;    font-size: 10px;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->
<!--&lt;!&ndash;  .intrst{&ndash;&gt;-->
<!--&lt;!&ndash;    padding-top: 10px;&ndash;&gt;-->
<!--&lt;!&ndash;    display: flex;&ndash;&gt;-->
<!--&lt;!&ndash;    flex-direction: column;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->

<!--&lt;!&ndash;  .intbox{&ndash;&gt;-->
<!--&lt;!&ndash;    padding: 10px;&ndash;&gt;-->
<!--&lt;!&ndash;    max-width: 150px;&ndash;&gt;-->
<!--&lt;!&ndash;    background: #4743FF;&ndash;&gt;-->
<!--&lt;!&ndash;    border-radius: 20px;&ndash;&gt;-->
<!--&lt;!&ndash;    color: white;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->



<!--&lt;!&ndash;  .btn{&ndash;&gt;-->
<!--&lt;!&ndash;    background: linear-gradient(#9997FD, #9976C7);&ndash;&gt;-->
<!--&lt;!&ndash;    color: #000000;&ndash;&gt;-->
<!--&lt;!&ndash;    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);&ndash;&gt;-->
<!--&lt;!&ndash;    font-weight: 600;&ndash;&gt;-->
<!--&lt;!&ndash;    text-decoration: none;&ndash;&gt;-->
<!--&lt;!&ndash;    padding: 15px;&ndash;&gt;-->
<!--&lt;!&ndash;    text-align: center;&ndash;&gt;-->
<!--&lt;!&ndash;    margin-left: 42.5%;&ndash;&gt;-->
<!--&lt;!&ndash;    border-radius: 90px;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->


<!--&lt;!&ndash;</style>&ndash;&gt;-->

<!--&lt;!&ndash;{% endblock content %}&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash;<div class="user-pfp-name">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <a href="{% url 'userprofile' %}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        {{ i.user.first_name }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        {{ i.user.last_name }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; <div class="profile">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <div class="coverpad">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  {% if Profile.cover %}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <img src="{{ Profile.cover.url }}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  {% endif %}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <div class="profilepic">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  {% if Profile.pfp %}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <img src="{{ Profile.pfp.url }}" height="140px">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  {% endif %}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <div class="profile-middle">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <div class="profile-username">{{ user.first_name }} {{ user.last_name }}</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  {% if Profile.desc %}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <div class="profile-desc"></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  {% endif %}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->



<!--<div class="profile">-->
<!--            <div class="coverpad">-->
<!--                  {% if Profile.cover %}-->
<!--                  <img src="{{ Profile.cover.url }}">-->
<!--                  {% endif %}-->
<!--            </div>-->
<!--    <h2>cjhbgsJCHS</h2>-->

<!--            <div class="profilepic">-->
<!--                  {% if Profile.pfp %}-->
<!--                  <img src="{{ Profile.pfp.url }}" height="140px">-->
<!--                  {% endif %}-->
<!--            </div>-->
<!--            <div class="profile-middle">-->
<!--                  <div class="profile-username">{{ user.first_name }} {{ user.last_name }}</div>-->
<!--                  {% if Profile.desc %}-->
<!--                  <div class="profile-desc"></div>-->
<!--                  {% endif %}-->
<!--            </div>-->
<!--      </div>-->